{% extends 'base.html' %} {% block title %}Editar perfil{% endblock %} {% block content %} {% if user.is_authenticated %}
<div class="container">
    <div class="px-4 py-3 my-4 text-justify">
        <h1 class="display-5 fw-bold">Editar perfil</h1>

        {{ user.profile.bio }}

        <div class="mx-auto">
            <span class="navbar-toggler-icon"></span>
            <form method="post">
                {% csrf_token %} {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Guardar Cambios" />
            </form>
        </div>
    </div>
</div>
{% else %}

<div class="container">
    <div class="px-4 py-3 my-4 text-center">
        <h1 class="display-5 fw-bold">No estás permitido para esta acción</h1>
    </div>
</div>

{% endif %} {% endblock %}