{% extends 'base.html' %} {% block title %}Eliminar Post{% endblock %} {% block content %} {% if user.is_authenticated %} {% if user.id == post.author.id %}
<div class="container text-center">
    <div class="px-4 py-3 my-4">
        <h1 class="display-5 fw-bold">Eliminar Post</h1>
        <h5 class="mt-5 mb-3 text-center">¿Seguro que quieres eliminar este Post?</h5>
        <div class="mx-auto">
            <span class="navbar-toggler-icon"></span>
            <form method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Eliminar Post" />
            </form>
        </div>
    </div>
</div>
{% else %}

<div class="container">
    <div class="px-4 py-3 my-4 text-center">
        <h1 class="display-5 fw-bold">No estás permitido para esta acción</h1>
    </div>
</div>

{% endif %} {% else %}

<div class="container">
    <div class="px-4 py-3 my-4 text-center">
        <h1 class="display-5 fw-bold">No estás permitido para esta acción</h1>
    </div>
</div>

{% endif %} {% endblock %}